#hero-header {
  height: 7vh;
  width: 100vw;
  background: #F5F5F5;
  overflow: hidden;
  display: block;
}

#hero-header .header {
  display: block;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero-header .header .logo {
  margin: 25px;
}

#hero-header .header .logo img {
  width: 25px;
  height: 28px;
}

@media (min-width: 992px) {
  #hero-header .header .logo img {
    width: 35px;
    height: 38px;
  }
}

#hero-header .header .hamburger-div {
  margin: 15px;
  position: relative;
  z-index: 100;
}

#hero-header nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: black;
  left: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 99;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  top: 0;
  overflow-y: scroll;
}

@media (min-width: 992px) {
  #hero-header nav {
    font-size: 1.2em;
  }
}

#hero-header nav .mainmenu {
  padding: 0;
  width: 100%;
  height: 100%;
}

#hero-header nav .mainmenu li {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80px;
  border: 1px solid #4B4B4B;
}

@media (min-width: 992px) {
  #hero-header nav .mainmenu li {
    width: 50%;
  }
}

#hero-header nav .mainmenu li img {
  margin-top: 20px;
  display: block;
  width: 35px;
  height: 20px;
  cursor: pointer;
}

#hero-header nav .mainmenu li a {
  font-weight: bold;
}

#hero-header nav .mainmenu li .submenu {
  padding: 0;
}

#hero-header nav .mainmenu li .submenu li {
  border: none;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  color: white;
}

#hero-header nav .mainmenu li .submenu li a {
  font-weight: lighter;
}

#hero-header nav .mainmenu li div {
  text-align: left;
  margin: 15px;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

#hero-header nav .mainmenu li div span {
  color: #808080;
}

#hero-header nav .mainmenu li a {
  text-decoration: none;
  color: #F5F5F5;
}

#hero-header nav .mainmenu .collapse ul {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#form {
  top: 0;
}

@media (min-width: 992px) {
  #form {
    width: 50% !important;
  }
}

#form .container .escape-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5em;
  padding: 5px !important;
}

#form .container .escape-form img {
  width: 40px;
  height: 65px;
  cursor: pointer;
  padding-top: 25px;
}

@media (max-width: 992px) {
  #form .container .escape-form img {
    width: 20px;
    margin-right: 12px;
    height: 45px;
  }
}

#form .container .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 200;
  background: #FFB000;
}

#form .container .submit input {
  background: none !important;
  color: black !important;
}

#form .container .add-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 15px;
  padding: 0 !important;
}

#form .container .add-file p {
  margin-bottom: 0;
  margin-left: 1em;
}

@media (min-width: 992px) {
  #form .container .form-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#form .container .form-menu .borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right: 10px;
  line-height: 1.3;
  height: 11vh;
  border-bottom: 1px solid #F5F5F5;
}

#form .container .form-menu .borders label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form .container .form-menu .borders label img {
  width: 55px;
  height: 55px;
}

@media (max-width: 992px) {
  #form .container .form-menu .borders label img {
    width: 35px;
    margin-right: 12px;
    height: 35px;
  }
}

#form .container .form-menu .borders input, #form .container .form-menu .borders textarea {
  background: black;
  border: none;
  color: white;
  font-size: 15px;
}

@media (min-width: 992px) {
  #form .container .form-menu .borders input, #form .container .form-menu .borders textarea {
    font-size: 20px;
  }
}

#form .container .form-menu .borders textarea {
  height: 29.5vh;
}

@media (min-width: 992px) {
  #form .container .form-menu .borders textarea {
    font-size: 20px;
  }
}

#form .container .form-menu .borders div {
  color: #F39C12;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

#form .container .form-menu .borders span {
  font-size: 11px;
  color: gray;
}

@media (min-width: 992px) {
  #form .container .form-menu .borders span {
    font-size: 16px;
  }
}

#form .container .form-menu .borders i {
  font-size: 1.5em;
  color: #fff;
}

#form .container .area {
  height: 35.5vh !important;
}

.active {
  background: #F39C12;
}

.logo {
  margin: 25px !important;
}

@media (min-width: 992px) {
  .logo img {
    width: 35px !important;
    height: 38px !important;
  }
}

.fix {
  position: fixed !important;
  left: calc(100% - 50px) !important;
}

.counter h1 {
  color: #F39C12 !important;
}

.counter p {
  font-size: 20px;
  top: 60px !important;
  font-weight: bold !important;
}

.counter-main {
  position: relative;
  width: 100vw;
  height: 150px;
}

.counter-main h1 {
  left: 15px;
  position: absolute;
  top: 00%;
  font-size: 116px;
  font-weight: bold;
  color: white;
}

@media (min-width: 992px) {
  .counter-main h1 {
    font-size: 297px;
    left: 100px;
    top: 100px;
  }
}

.counter-main p {
  font-size: 40px;
  color: black;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 35px;
  top: 45px;
}

@media (min-width: 992px) {
  .counter-main p {
    font-size: 60px;
    color: black;
    font-weight: bold;
    position: absolute;
    font-weight: bold;
    font-size: 60px;
    left: 195px;
    top: 260px !important;
  }
}

.toggle {
  left: 0% !important;
  min-height: 55px;
}

@media (min-width: 992px) {
  .toggle {
    left: 50% !important;
  }
}

.offer-toggler {
  max-height: 500px !important;
}

.send-btn-toggle {
  -webkit-transform: translateX(calc(-100% + 80px));
          transform: translateX(calc(-100% + 80px));
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  border-radius: 0 !important;
  height: 10vh !important;
}

.bring {
  left: 0% !important;
}

.back {
  left: -120% !important;
}

.collapse-nav {
  max-height: 200px !important;
}

.hamburger {
  -webkit-transform: scale(0.65) rotate(180deg);
          transform: scale(0.65) rotate(180deg);
}

.hamburger-box {
  width: auto !important;
  height: auto !important;
}

.hamburger-inner {
  width: 42px !important;
}

.hamburger-inner::before {
  width: 32px !important;
}

.hamburger-inner::after {
  width: 22px !important;
}

.color {
  background: white !important;
  width: 42px !important;
}

.color::after {
  background: white !important;
  width: 42px !important;
}

.color::before {
  background: white !important;
  width: 42px !important;
}

.nav-toggle {
  left: 0 !important;
}

@media (min-width: 992px) {
  .nav-toggle {
    left: 50% !important;
  }
}

.icon-toggle {
  opacity: 0;
}

.section-id {
  position: relative;
}

.section-id h1 {
  color: rgba(243, 157, 18, 0.16);
  font-size: 8em;
}

#burger {
  z-index: 102;
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 100%;
  cursor: pointer;
  left: calc(100% - 80px);
}

#burger .send-msg {
  display: block;
  width: 100vw;
  height: 6vh;
  background: #FFB000;
  border-radius: 44px;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center;
}

@media (min-width: 992px) {
  #burger .send-msg {
    width: 50vw;
  }
}

#burger .send-msg h3 {
  font-size: 15px;
  color: #000;
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  #burger .send-msg h3 {
    font-size: 20px;
  }
}

#burger .send-msg img {
  margin-left: 20px;
}

#form {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: black;
  left: 100%;
  z-index: 99;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/*# sourceMappingURL=globalClasses.css.map */