@media (max-width:400px){
    body{
        .container-fluid{
            width:320px!important;
         .row{
               .recruit2{
                   font-size:14px;
                   margin-bottom:0;
              }
         }     
        }
    }}