
@import 'variables.scss';
html{
    overflow-x:hidden;
}
body{
     background:#Ffffff;
     overflow-x: hidden;
     font-family:'Roboto';

     /*-------------------HERO-HEADER--------------------*/
      #hero-header{
           height:7vh;
           width:100vw;
           background:$white;
           overflow:hidden;
           display:block;
           .header{
               display:block;
               width:100vw;
               height:100%;
               display:flex;
               align-items: center;
               justify-content: space-between;
               .logo{
                    margin:15px;
                    img{
                         width:24px;
                         height:24px;
                    }
               }
               .hamburger-div{
                    margin:15px;
                    position:relative;
                    z-index:100;
                   
               }
          }
          nav{
               width: 100%;
               height:100vh;
               position: fixed;
               background: black;
               left: 100%;
               transition: all .2s ease-in;
               z-index: 99;
               -webkit-transition: all .2s ease-in-out;
               transition: all .2s ease-in-out;
               top:0;
               overflow-y: scroll;
               .mainmenu{
                    padding:0;
                    width:100%;
                    height:100%;
                    li{
                         width:100%;
                         display:flex;
                         justify-content: center;
                         flex-direction:column;
                         min-height:80px;
                         border:1px solid #4B4B4B;
                         a{
                              font-weight:bold;
                         }
                         .submenu{
                              padding:0;
                              li{
                                   
                                   border:none;
                                   text-align:left;
                                   margin-top: 20px;
                                   margin-bottom: 20px;
                                   padding-left: 40px;
                                   color:white;
                                   
                                   a{
                                        font-weight:lighter
                                   }
                              }
                         }
                         div{
                              span{
                                   color:#808080;
                              }
                              text-align: left;
                              margin:15px;
                              width: 30%;
                              height: 60%;
                              display: flex;
                              flex-direction: column;
                              align-items: flex-start;
                              justify-content: space-evenly;
                              margin-left: 20px;
                         }
                         a{
                              text-decoration:none;
                              color:$white;
                         }
                    }
                    .collapse{
                         ul{
                             
                             overflow:hidden;
                             max-height:0;
                             transition: all .5s ease;
                         }
                    }
               }
          }
          
      }
   




     /*-------------------STICKY FORM--------------------*/



      #form{
               top:0;
               z-index:101;
               .container{
                    .escape-form{
                         display:flex;
                         align-items:flex-start;
                         justify-content: flex-end;
                         font-size:1.5em;
                         padding:5px!important;
                    }
                    .add-file{
                         display:flex;
                         align-items:center;
                         justify-content: center;
                         color:white;
                         font-size:15px;
                         padding:0!important;
                         p{
                              margin-bottom:0;
                              margin-left:1em;
                         }
                    }
                    .form-menu .borders{
                         padding:1px;
                         padding-bottom:10px;
                         padding-left:15px;
                         margin-right: 10px;
                         line-height: 1.3;
                         input, textarea{
                              background:black;
                              border:none;
                              color:white;
                             
                              font-size:15px;
                         }
                         textarea{
                              height:29.5vh;
                         }
                         div{
                              color:$orange;
                              text-align:right;
                              font-size:11px;
                              margin-right:10px;
                         }
                         span{
                              font-size:11px;
                              color:gray;
                         }
                         i{   
                              font-size:1.5em;
                              color:#fff;
                         }
                         height:11vh;
                         border-bottom:1px solid #F5F5F5;
                    }
                    .area{
                         height:35.5vh!important;
                    }
               }
               
          }


         /*-------------------HERO-------------------*/
 #hero{
     height:30vh;
     width:100%;
     @media (min-width:992px){
          width: 50%;
          float: left;
     }

 }
 #tiles{
     @media(min-width:992px){
          margin: 0;
          width: 50%;
          max-width:none;
          float: left;
     }
     .row{
         .tile{
             display:flex;
             align-items:flex-start;
             justify-content: space-evenly;
             flex-direction: column;
             width:100vw;
             height:23.3vh;
             background-repeat: no-repeat!important;
             background-size:cover!important;
             &:nth-child(1){
                background:url('../../assets/img/portfolio-1.png');
                @media (min-width:992px){
                    background:url('../../assets/img/portfolio1-lg.png');
                  }
             }
             &:nth-child(2){
                background:url('../../assets/img/portfolio-2.png');
                @media (min-width:992px){
                    background:url('../../assets/img/portfolio2-lg.png');
                  }
             }
             &:nth-child(3){
                background:url('../../assets/img/portfolio-3.png');
                @media (min-width:992px){
                    background:url('../../assets/img/portfolio3-lg.png');
                  }
             }
             &:nth-child(4){
                background:url('../../assets/img/portfolio-4.png');
                @media (min-width:992px){
                    background:url('../../assets/img/portfolio4-lg.png');
                  }
             }
             p{
                  padding-left:30px;
               @media (min-width:992px){
                    font-size:3em;
                  }
                 font-weight: bold;
             }
             span{
               padding-left:30px;
                  @media (min-width:992px){
                    font-size:1.5em;
                  }
                  
                 color:$gray-font;
             }
         }
     }
 }
 .art{
    .row{
        .article{
            display:flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            p{
                padding:10px;
            }
            span{
                padding:10px;
                margin-top:20px;
                font-weight: bold;
            }
            height:55vh;
        }
        .article-image{
            width:100vw;
            min-height:40vh;
            background:url('../../assets/img/article-image1.png');
            background-size:cover;
        }
        .article-image2{
            background:url('../../assets/img/article-image2.png');
        }
        .article-image3{
            background:url('../../assets/img/article-image3.png');
        }
        .article-image4{
            background:url('../../assets/img/article-image4.png');
        }
    }
 }
 .art2{
    background:url('../../assets/img/bald-path.png');
    background-size:cover;
     padding:25px;
     span{
         padding:10px;
         font-weight: bold;
     }
     p{
         padding:10px;
     }
     img{
         padding:10px;
     }
 }

.client-desc{
    margin-top:50px;
    .row{
        .art{
           
            p{
                padding:10px;
            }
        }
    }
}
#review{
    height:100vh;
    padding:0 30px;
    overflow:hidden;
    position:relative;
    background-image: linear-gradient(white, $white);
    .row{
         text-align:center;
         p{
             margin-top:50px; 
              font-size:1em;
              margin-bottom:50px;
         }
         img{
              margin-bottom:10px;
         }
         div:nth-child(2){
             z-index:2;
         }
         .background{
              position:absolute;
              height:280px;
              bottom:0;
              left:0;
              background-size:cover!important;
              background:url('../../assets/img/yellow-paths.png');
         }
         
    }
}
}

@media (max-width:576px){
     body{
         
         .container-fluid{
             width:320px!important;
     }}}