body {
  background: #Ffffff;
  overflow-x: hidden;
  font-family: 'Roboto';
  /*-------------------HERO-HEADER--------------------*/
  /*-------------------STICKY FORM--------------------*/
  /*-------------------HERO-------------------*/
  /*-------------------RECRUIT-------------------*/
}

body #hero-header {
  height: 7vh;
  width: 100vw;
  background: #F5F5F5;
  overflow: hidden;
  display: block;
}

body #hero-header .header {
  display: block;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #hero-header .header .logo {
  margin: 15px;
}

body #hero-header .header .logo img {
  width: 24px;
  height: 24px;
}

body #hero-header .header .hamburger-div {
  margin: 15px;
  position: relative;
  z-index: 100;
}

body #hero-header nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: black;
  left: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 99;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  top: 0;
  overflow-y: scroll;
}

body #hero-header nav .mainmenu {
  padding: 0;
  width: 100%;
  height: 100%;
}

body #hero-header nav .mainmenu li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80px;
  border: 1px solid #4B4B4B;
}

body #hero-header nav .mainmenu li a {
  font-weight: bold;
}

body #hero-header nav .mainmenu li .submenu {
  padding: 0;
}

body #hero-header nav .mainmenu li .submenu li {
  border: none;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  color: white;
}

body #hero-header nav .mainmenu li .submenu li a {
  font-weight: lighter;
}

body #hero-header nav .mainmenu li div {
  text-align: left;
  margin: 15px;
  width: 30%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

body #hero-header nav .mainmenu li div span {
  color: #808080;
}

body #hero-header nav .mainmenu li a {
  text-decoration: none;
  color: #F5F5F5;
}

body #hero-header nav .mainmenu .collapse ul {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body #form {
  top: 0;
}

body #form .container .escape-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5em;
  padding: 5px !important;
}

body #form .container .add-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 15px;
  padding: 0 !important;
}

body #form .container .add-file p {
  margin-bottom: 0;
  margin-left: 1em;
}

body #form .container .form-menu .borders {
  padding: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right: 10px;
  line-height: 1.3;
  height: 11vh;
  border-bottom: 1px solid #F5F5F5;
}

body #form .container .form-menu .borders input, body #form .container .form-menu .borders textarea {
  background: black;
  border: none;
  color: white;
  font-size: 15px;
}

body #form .container .form-menu .borders textarea {
  height: 29.5vh;
}

body #form .container .form-menu .borders div {
  color: #F39C12;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

body #form .container .form-menu .borders span {
  font-size: 11px;
  color: gray;
}

body #form .container .form-menu .borders i {
  font-size: 1.5em;
  color: #fff;
}

body #form .container .area {
  height: 35.5vh !important;
}

body #hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(white));
  background-image: linear-gradient(#F5F5F5, white);
}

body #hero .counter {
  position: relative;
  width: 100vw;
  height: 150px;
}

body #hero .counter h1 {
  left: 15px;
  position: absolute;
  top: 00%;
  font-size: 116px;
  font-weight: bold;
  color: white;
}

body #hero .counter p {
  font-size: 40px;
  color: black;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 35px;
  top: 45px;
}

body #hero .container .row .job {
  border-top: 1px solid white;
  padding: 35px;
  min-height: 135px;
}

body #hero .container .row .job .number {
  font-size: 1em;
  color: #8D8D8D;
}

body #hero .container .row .job p {
  font-size: 20px;
}

body #recruit {
  height: 90vh;
}

body #recruit .counter {
  position: relative;
  width: 100vw;
  min-height: 100px;
}

body #recruit .counter h1 {
  left: 15px;
  position: absolute;
  top: 00%;
  font-size: 116px;
  font-weight: bold;
  color: #FFB000;
}

body #recruit .counter p {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 35px;
  top: 60px;
}

body #recruit .container-fluid {
  width: 400px;
  overflow-x: hidden;
}

body #recruit .container-fluid .tree {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  width: 300px;
  height: 600px;
}

body #recruit .container-fluid .tree img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-bottom: 50px;
  margin-left: 10px;
}

@media (min-width: 576px) {
  body #recruit .container-fluid .tree img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

body #recruit .container-fluid .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  body #recruit .container-fluid .row {
    height: 125px;
  }
}

body #recruit .container-fluid .row .section-title {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -1.1em;
}

body #recruit .container-fluid .row .section-title h2 {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body #recruit .container-fluid .row h1 {
  top: -60px;
  font-size: 116px;
  color: white;
  position: absolute;
}

body #recruit .container-fluid .row .recruit-1 {
  display: block;
  font-size: 16px;
  margin-bottom: 90px;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin-left: 40px;
}

@media (max-width: 576px) {
  body #recruit .container-fluid .row .recruit-1 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 75px;
  }
}

body #recruit .container-fluid .row .recruit-2 {
  margin-bottom: 0;
  margin-right: 40px;
  margin-left: 50px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: block;
  font-size: 16px;
  text-align: right;
}

@media (max-width: 576px) {
  body #recruit .container-fluid .row .recruit-2 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 65px;
    margin-right: 0;
  }
}

body #recruit .container-fluid .row .recruit-3 {
  margin-bottom: 0;
  margin-right: 40px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: block;
  font-size: 16px;
  text-align: right;
  margin-top: 90px;
  margin-left: 50px;
}

@media (max-width: 576px) {
  body #recruit .container-fluid .row .recruit-3 {
    font-size: 15px;
    margin-top: 29px;
    margin-left: 30px;
  }
}

body #jobs .counter {
  position: relative;
  width: 100vw;
  min-height: 100px;
}

body #jobs .counter h1 {
  left: 15px;
  position: absolute;
  top: 00%;
  font-size: 116px;
  font-weight: bold;
  color: #FFB000;
}

body #jobs .counter p {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 35px;
  top: 60px;
}

body #jobs .container .row .offer {
  margin-top: 0px;
  padding: 20px;
  border: 1px solid #f5f5f5;
}

body #jobs .container .row .offer:first-child {
  margin-top: 50px;
}

body #jobs .container .row .offer span {
  color: #F39C12;
  font-size: 1em;
}

body #jobs .container .row .offer p {
  font-size: 1em;
}

body #jobs .container .row .offer h4 {
  font-size: 1em;
  font-weight: bold;
}

body #jobs .container .row .offer img {
  cursor: pointer;
}

body #jobs .container .row .offer-toggle {
  max-height: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 576px) {
  body .container-fluid {
    width: 320px !important;
  }
}
/*# sourceMappingURL=style-career.css.map */