html {
  overflow-x: hidden;
}

body {
  background: #Ffffff;
  overflow-x: hidden;
  font-family: 'Roboto';
  /*-------------------HERO-HEADER--------------------*/
  /*-------------------STICKY FORM--------------------*/
  /*-------------------HERO-------------------*/
}

body #hero-header {
  height: 7vh;
  width: 100vw;
  background: #F5F5F5;
  overflow: hidden;
  display: block;
}

body #hero-header .header {
  display: block;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #hero-header .header .logo {
  margin: 15px;
}

body #hero-header .header .logo img {
  width: 24px;
  height: 24px;
}

body #hero-header .header .hamburger-div {
  margin: 15px;
  position: relative;
  z-index: 100;
}

body #hero-header nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: black;
  left: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 99;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  top: 0;
  overflow-y: scroll;
}

body #hero-header nav .mainmenu {
  padding: 0;
  width: 100%;
  height: 100%;
}

body #hero-header nav .mainmenu li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80px;
  border: 1px solid #4B4B4B;
}

body #hero-header nav .mainmenu li a {
  font-weight: bold;
}

body #hero-header nav .mainmenu li .submenu {
  padding: 0;
}

body #hero-header nav .mainmenu li .submenu li {
  border: none;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  color: white;
}

body #hero-header nav .mainmenu li .submenu li a {
  font-weight: lighter;
}

body #hero-header nav .mainmenu li div {
  text-align: left;
  margin: 15px;
  width: 30%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

body #hero-header nav .mainmenu li div span {
  color: #808080;
}

body #hero-header nav .mainmenu li a {
  text-decoration: none;
  color: #F5F5F5;
}

body #hero-header nav .mainmenu .collapse ul {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body #form {
  top: 0;
  z-index: 101;
}

body #form .container .escape-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5em;
  padding: 5px !important;
}

body #form .container .add-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 15px;
  padding: 0 !important;
}

body #form .container .add-file p {
  margin-bottom: 0;
  margin-left: 1em;
}

body #form .container .form-menu .borders {
  padding: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right: 10px;
  line-height: 1.3;
  height: 11vh;
  border-bottom: 1px solid #F5F5F5;
}

body #form .container .form-menu .borders input, body #form .container .form-menu .borders textarea {
  background: black;
  border: none;
  color: white;
  font-size: 15px;
}

body #form .container .form-menu .borders textarea {
  height: 29.5vh;
}

body #form .container .form-menu .borders div {
  color: #F39C12;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

body #form .container .form-menu .borders span {
  font-size: 11px;
  color: gray;
}

body #form .container .form-menu .borders i {
  font-size: 1.5em;
  color: #fff;
}

body #form .container .area {
  height: 35.5vh !important;
}

body #hero {
  height: 30vh;
}

body #tiles {
  height: 80vh;
}

body #tiles .row .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 20vh;
  background-repeat: no-repeat;
}

body #tiles .row .tile:nth-child(1) {
  background: url("../../assets/img/portfolio-1.png");
}

body #tiles .row .tile:nth-child(2) {
  background: url("../../assets/img/portfolio-2.png");
}

body #tiles .row .tile:nth-child(3) {
  background: url("../../assets/img/portfolio-3.png");
}

body #tiles .row .tile:nth-child(4) {
  background: url("../../assets/img/portfolio-4.png");
}

body #tiles .row .tile p {
  font-weight: bold;
}

body #tiles .row .tile span {
  color: #8D8D8D;
}

body .art .row .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
}

body .art .row .article p {
  padding: 10px;
}

body .art .row .article span {
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}

body .art .row .article-image {
  width: 100vw;
  min-height: 40vh;
  background: url("../../assets/img/article-image1.png");
  background-size: cover;
}

body .art .row .article-image2 {
  background: url("../../assets/img/article-image2.png");
}

body .art .row .article-image3 {
  background: url("../../assets/img/article-image3.png");
}

body .art .row .article-image4 {
  background: url("../../assets/img/article-image4.png");
}

body .art2 {
  background: url("../../assets/img/bald-path.png");
  background-size: cover;
  padding: 25px;
}

body .art2 span {
  padding: 10px;
  font-weight: bold;
}

body .art2 p {
  padding: 10px;
}

body .art2 img {
  padding: 10px;
}

body .client-desc {
  margin-top: 50px;
}

body .client-desc .row .art p {
  padding: 10px;
}

body #review {
  height: 100vh;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F5F5F5));
  background-image: linear-gradient(white, #F5F5F5);
}

body #review .row {
  text-align: center;
}

body #review .row p {
  margin-top: 50px;
  font-size: 1em;
  margin-bottom: 50px;
}

body #review .row img {
  margin-bottom: 10px;
}

body #review .row div:nth-child(2) {
  z-index: 2;
}

body #review .row .background {
  position: absolute;
  height: 280px;
  bottom: 0;
  left: 0;
  background-size: cover !important;
  background: url("../../assets/img/yellow-paths.png");
}

@media (max-width: 576px) {
  body .container-fluid {
    width: 320px !important;
  }
}
/*# sourceMappingURL=style-portfolio.css.map */