
@import 'variables.scss';
html{
    overflow-x:hidden;
}
body{
     overflow:hidden;
     background:#Ffffff;
     overflow-x: hidden;
     font-family:'Roboto';






         /*-------------------HERO-------------------*/
 #hero{
     height:30vh;
     width:100%;
     h1{
          top:20px!important;
     }
     p{
          top:110px!important;
     }
     @media (min-width:992px){
          width: 50%;
          float: left;
     }

 }

 #tiles{
     height: 63vh;
     @media(min-width:992px){
          height:auto;
          margin: 0;
          width: 50%;
          max-width:none;
          float: left;
     }
     .row{
          
          height:100%;
          
          a{
               text-decoration:none;
               color:black;
               transition:all .3s ease-in-out;
                         @media (max-width:992px){
                              height:25%;
                         }
                         &:hover{
                              filter:contrast(0.5);
                         }
                        display:flex;
                        cursor:pointer;
                        align-items:flex-start;
                        justify-content: center;
                        flex-direction: column;
                        width:100vw;
                        height:23.3vh;
                        background-repeat: no-repeat!important;
                        background-size:cover!important;
               text-decoration: none;
               .tile{
                    padding-top:40px;
               }
               &:nth-child(1) .tile{
                    background:url('../../assets/img/portfolio-1.png');
                    @media (min-width:992px){
                        background:url('../../assets/img/portfolio1-lg.png');
                      }
                 }
                 &:nth-child(2) .tile{
                    background:url('../../assets/img/portfolio-2.png');
                    @media (min-width:992px){
                        background:url('../../assets/img/portfolio2-lg.png');
                      }
                 }
                 &:nth-child(3){
                    background:url('../../assets/img/portfolio-3.png');
                    @media (min-width:992px){
                        background:url('../../assets/img/portfolio3-lg.png');
                      }
                 }
                 &:nth-child(4){
                    background:url('../../assets/img/portfolio-4.png');
                    @media (min-width:992px){
                        background:url('../../assets/img/portfolio4-lg.png');
                      }

               
          }
        
 
             p{
                  padding-left:30px;
               @media (min-width:992px){
                    font-size:3em;
                  }
                 font-weight: bold;
             }
             span{
               padding-left:30px;
                  @media (min-width:992px){
                    font-size:1.5em;
                  }
                  
                 color:$gray-font;
             }
         }
     }
 }
 .art{
     background-image: linear-gradient($white,white);
     @media (min-width:992px){
          max-width:none;
          height:93vh;
     }
    .row{
        .article{
          @media (min-width:992px){
               min-height:93vh;
          }
            display:flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            p{
               @media (min-width:1602px){
                    padding-left: 100px;
                    padding-right: 200px;
                   font-size:24px;
               }
               @media (min-width:992px) and (max-width:1601px){
                    padding-left: 100px;
                    padding-right: 50px;
                    font-size:24px;
               }
                padding:10px;
            }
            span{
                 @media (min-width:992px){
                      font-size:60px;
                      padding-left: 100px;
                      padding-right: 300px;
                 }
                padding:10px;
                margin-top:20px;
                font-weight: bold;
            }
            height:55vh;
        }
        .article-image{
             
          @media (min-width:992px){
               min-height:93vh;
               background:url('../../assets/img/article-image1-lg.png');
          }
            width:100vw;
            min-height:40vh;
            background:url('../../assets/img/article-image1.png');
            background-size:cover!important;
        }
        .article-image2{
          @media (min-width:992px){
               background:url('../../assets/img/article-image2-lg.png');
          }
            background:url('../../assets/img/article-image2.png');
            background-size:cover!important;
        }
        .article-image3{
          @media (min-width:992px){
               background:url('../../assets/img/article-image3-lg.png');
          }
            background:url('../../assets/img/article-image3.png');
            background-size:cover!important;
        }
        .article-image4{
          @media (min-width:992px){
               background:url('../../assets/img/article-image4-lg.png');
          }
            background:url('../../assets/img/article-image4.png');
            background-size:cover!important;
        }
    }
 }
 .art2{
      @media(min-width:992px){
           background:white;
           display:flex;
           align-items: center;
           justify-content: center;
           span{
                display:none;
           }
           p{
                display:none;
           }
      }
    background:url('../../assets/img/bald-path.png');
    background-size:cover;
     padding:25px;
     span{
         padding:10px;
         font-weight: bold;
     }
     p{
         padding:10px;
     }
     img{
         padding:10px;
     }
 }

.client-desc{
     @media (min-width:992px){
          max-width:none;
     }
    margin-top:50px;
    .row{
        .art{
             background:white!important;
          @media (min-width:992px){
               display:flex;
               justify-content: center;
               flex-direction: column;
          }
           h1{
                    font-size:60px;
                    padding-left: 100px;
                    padding-right: 300px;

                @media (max-width:992px) {
                     display:none;
                }
           }
           h4{
               font-size:24px;
               font-weight: bold;
               padding-left: 100px;
               padding-right: 300px;

           @media (max-width:992px) {
                display:none;
           }
      }
            p{
               @media (min-width:1602px){
                    padding-left: 100px;
                    padding-right: 200px;
                   font-size:24px;
               }
               @media (min-width:992px) and (max-width:1601px){
                    padding-left: 100px;
                    padding-right: 50px;
                    font-size:24px;
               }
                padding:10px;
            }
        }
    }
}
#review{
    height:100vh;
    padding:0 30px;
    overflow:hidden;
    position:relative;
    background:white!important;
    @media(min-width:650px){
         max-width:none;
         display: flex;
         align-items: center;
    }
   
    .row{
         text-align:center;
         p{
             margin-top:50px; 
              font-size:1em;
              margin-bottom:50px;
         }
         img{
              margin-bottom:10px;
         }
         div:nth-child(1){
          @media(min-width:992px){
               p{
                    font-size:24px;
                    padding:0 20vw;
               }
          }
      }
         div:nth-child(2){
             z-index:2;
         }
         .background{
          @media(min-width:992px) and (max-width:1500px){
               background-size:cover;
               height:300px;
               background:url('../../assets/img/yellow-paths-lg.png');
          }
          @media(min-width:1501px){
               background-size:cover;
               height:500px;
               background:url('../../assets/img/yellow-paths-lg.png');
          }
              position:absolute;
              height:280px;
              bottom:0;
              left:0;
              background-size:cover!important;
              background:url('../../assets/img/yellow-paths.png');
         }
         
    }
}
}

@media (max-width:576px){
     body{
         
         .container-fluid{
             width:320px!important;
     }}}


@media (max-width:992px){
     body{
       .container{
            max-width:none;
       }
     }}