html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background: #Ffffff;
  overflow-x: hidden;
  font-family: 'Roboto';
  /*-------------------HERO-------------------*/
}

body #hero {
  height: 30vh;
  width: 100%;
}

body #hero h1 {
  top: 20px !important;
}

body #hero p {
  top: 110px !important;
}

@media (min-width: 992px) {
  body #hero {
    width: 50%;
    float: left;
  }
}

body #tiles {
  height: 63vh;
}

@media (min-width: 992px) {
  body #tiles {
    height: auto;
    margin: 0;
    width: 50%;
    max-width: none;
    float: left;
  }
}

body #tiles .row {
  height: 100%;
}

body #tiles .row a {
  text-decoration: none;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 23.3vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-decoration: none;
}

@media (max-width: 992px) {
  body #tiles .row a {
    height: 25%;
  }
}

body #tiles .row a:hover {
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

body #tiles .row a .tile {
  padding-top: 40px;
}

body #tiles .row a:nth-child(1) .tile {
  background: url("../../assets/img/portfolio-1.png");
}

@media (min-width: 992px) {
  body #tiles .row a:nth-child(1) .tile {
    background: url("../../assets/img/portfolio1-lg.png");
  }
}

body #tiles .row a:nth-child(2) .tile {
  background: url("../../assets/img/portfolio-2.png");
}

@media (min-width: 992px) {
  body #tiles .row a:nth-child(2) .tile {
    background: url("../../assets/img/portfolio2-lg.png");
  }
}

body #tiles .row a:nth-child(3) {
  background: url("../../assets/img/portfolio-3.png");
}

@media (min-width: 992px) {
  body #tiles .row a:nth-child(3) {
    background: url("../../assets/img/portfolio3-lg.png");
  }
}

body #tiles .row a:nth-child(4) {
  background: url("../../assets/img/portfolio-4.png");
}

@media (min-width: 992px) {
  body #tiles .row a:nth-child(4) {
    background: url("../../assets/img/portfolio4-lg.png");
  }
}

body #tiles .row a p {
  padding-left: 30px;
  font-weight: bold;
}

@media (min-width: 992px) {
  body #tiles .row a p {
    font-size: 3em;
  }
}

body #tiles .row a span {
  padding-left: 30px;
  color: #8D8D8D;
}

@media (min-width: 992px) {
  body #tiles .row a span {
    font-size: 1.5em;
  }
}

body .art {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(white));
  background-image: linear-gradient(#F5F5F5, white);
}

@media (min-width: 992px) {
  body .art {
    max-width: none;
    height: 93vh;
  }
}

body .art .row .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
}

@media (min-width: 992px) {
  body .art .row .article {
    min-height: 93vh;
  }
}

body .art .row .article p {
  padding: 10px;
}

@media (min-width: 1602px) {
  body .art .row .article p {
    padding-left: 100px;
    padding-right: 200px;
    font-size: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1601px) {
  body .art .row .article p {
    padding-left: 100px;
    padding-right: 50px;
    font-size: 24px;
  }
}

body .art .row .article span {
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}

@media (min-width: 992px) {
  body .art .row .article span {
    font-size: 60px;
    padding-left: 100px;
    padding-right: 300px;
  }
}

body .art .row .article-image {
  width: 100vw;
  min-height: 40vh;
  background: url("../../assets/img/article-image1.png");
  background-size: cover !important;
}

@media (min-width: 992px) {
  body .art .row .article-image {
    min-height: 93vh;
    background: url("../../assets/img/article-image1-lg.png");
  }
}

body .art .row .article-image2 {
  background: url("../../assets/img/article-image2.png");
  background-size: cover !important;
}

@media (min-width: 992px) {
  body .art .row .article-image2 {
    background: url("../../assets/img/article-image2-lg.png");
  }
}

body .art .row .article-image3 {
  background: url("../../assets/img/article-image3.png");
  background-size: cover !important;
}

@media (min-width: 992px) {
  body .art .row .article-image3 {
    background: url("../../assets/img/article-image3-lg.png");
  }
}

body .art .row .article-image4 {
  background: url("../../assets/img/article-image4.png");
  background-size: cover !important;
}

@media (min-width: 992px) {
  body .art .row .article-image4 {
    background: url("../../assets/img/article-image4-lg.png");
  }
}

body .art2 {
  background: url("../../assets/img/bald-path.png");
  background-size: cover;
  padding: 25px;
}

@media (min-width: 992px) {
  body .art2 {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .art2 span {
    display: none;
  }
  body .art2 p {
    display: none;
  }
}

body .art2 span {
  padding: 10px;
  font-weight: bold;
}

body .art2 p {
  padding: 10px;
}

body .art2 img {
  padding: 10px;
}

body .client-desc {
  margin-top: 50px;
}

@media (min-width: 992px) {
  body .client-desc {
    max-width: none;
  }
}

body .client-desc .row .art {
  background: white !important;
}

@media (min-width: 992px) {
  body .client-desc .row .art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .client-desc .row .art h1 {
  font-size: 60px;
  padding-left: 100px;
  padding-right: 300px;
}

@media (max-width: 992px) {
  body .client-desc .row .art h1 {
    display: none;
  }
}

body .client-desc .row .art h4 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 100px;
  padding-right: 300px;
}

@media (max-width: 992px) {
  body .client-desc .row .art h4 {
    display: none;
  }
}

body .client-desc .row .art p {
  padding: 10px;
}

@media (min-width: 1602px) {
  body .client-desc .row .art p {
    padding-left: 100px;
    padding-right: 200px;
    font-size: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1601px) {
  body .client-desc .row .art p {
    padding-left: 100px;
    padding-right: 50px;
    font-size: 24px;
  }
}

body #review {
  height: 100vh;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
  background: white !important;
}

@media (min-width: 650px) {
  body #review {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body #review .row {
  text-align: center;
}

body #review .row p {
  margin-top: 50px;
  font-size: 1em;
  margin-bottom: 50px;
}

body #review .row img {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  body #review .row div:nth-child(1) p {
    font-size: 24px;
    padding: 0 20vw;
  }
}

body #review .row div:nth-child(2) {
  z-index: 2;
}

body #review .row .background {
  position: absolute;
  height: 280px;
  bottom: 0;
  left: 0;
  background-size: cover !important;
  background: url("../../assets/img/yellow-paths.png");
}

@media (min-width: 992px) and (max-width: 1500px) {
  body #review .row .background {
    background-size: cover;
    height: 300px;
    background: url("../../assets/img/yellow-paths-lg.png");
  }
}

@media (min-width: 1501px) {
  body #review .row .background {
    background-size: cover;
    height: 500px;
    background: url("../../assets/img/yellow-paths-lg.png");
  }
}

@media (max-width: 576px) {
  body .container-fluid {
    width: 320px !important;
  }
}

@media (max-width: 992px) {
  body .container {
    max-width: none;
  }
}
/*# sourceMappingURL=style-portfolio.css.map */